@import 'reset-css';

@import './variables';

body {
  font-family: 'Montserrat';
  background: $color-secondary-light;
}

input {
  font-family: inherit;
}

*,
:before,
:after {
  box-sizing: border-box;
}
